<ng-template #customTemplate let-event="event" let-view="view">
<span
  class="event__title"
  [innerHTML]="event.title | calendarEventTitle : view : event"
  [attr.aria-hidden]="{} | calendarA11y : 'hideEventTitle'"
>
  </span>
</ng-template>

<div class="calendar-header">
  <div class="button-group">
    <button class="button-group__button" (click)="handlePrevious()">
      PROŠLA NEDELJA
    </button>
    <button class="button-group__button" (click)="handleCurrent()">
      TRENUTNI DATUM
    </button>
    <button class="button-group__button" (click)="handleNext()">
      NAREDNA NEDELJA
    </button>
    <button class="button-group__button" (click)="monthShow()">
      {{viewButton}}
    </button>
  </div>
  <div class="date-range">
    <span
    >{{ viewDate | date : "dd.MM.yyyy." }} -
      {{ viewDateEnd | date : "dd.MM.yyyy." }}</span
    >
  </div>
  <div class="button-group">
    <button class="button-group__button-app"
            id="examine"
            [disabled]="!canClick"
            (click)="viewQuiz()"
    >Pogledaj test</button>


    <button
      id="cancel"
      [disabled]="!canClick"
      (click)="viewStudentsResult()"
      class="button-group__button-app"
    >
      Rezultati učenika
    </button>
  </div>
</div>

<div class="calendar-wrapper">
  <mwl-calendar-week-view *ngIf="!monthView"
                          [viewDate]="viewDate"
                          [daysInWeek]="daysInWeek"
                          [dayStartHour]="dayStartHour"
                          [dayEndHour]="dayEndHour"
                          [hourSegmentHeight]="hourSegmentHeight"
                          [events]="quizzes"
                          [eventTitleTemplate]="customTemplate"
                          (eventClicked)="onEventClick($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-month-view *ngIf="monthView"
                           [viewDate]="viewDate"
                           [events]="quizzes"
                           [weekStartsOn]="dayStartHour" (eventClicked)="onEventClick($event)"
  >
  </mwl-calendar-month-view>
</div>
