
<div style="place-items: flex-start">
    <div class="container" [ngClass]="rightActive ? 'right-panel-active' :''"  >
        <div class="form-container-reg sign-up-container">

            <form action="#" [formGroup]="formGroup"  >

                <mat-accordion >
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header style="justify-content: space-between;
  align-items: center;
">
                            <mat-panel-description style="color: #333333">
                                Insert your personal data
                                <mat-icon style="margin-left: 150px">account_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field class="mat"   appearance="outline">
                            <mat-label class="mat" > Name</mat-label>
                            <input class="mat" formControlName="name" matInput placeholder="name" >
                        </mat-form-field>
                        <mat-form-field class="mat" appearance="outline">
                            <mat-label >Surname</mat-label>
                            <input   formControlName="surname" matInput placeholder="surname" >
                        </mat-form-field>
                        <mat-form-field class="mat" appearance="outline">
                            <mat-label > Username</mat-label>
                            <input formControlName="username" matInput placeholder="username" >
                        </mat-form-field>
                        <mat-form-field class="mat" appearance="outline">
                            <mat-label > email</mat-label>
                            <input type="email" formControlName="email" matInput placeholder="email" >
                        </mat-form-field>
                        <mat-form-field class="mat" appearance="outline">
                            <mat-label > password</mat-label>
                            <input type="password" formControlName="password" matInput placeholder="password" >
                        </mat-form-field>
                        <mat-form-field class="mat" appearance="outline">
                            <mat-label >confirm password</mat-label>
                            <input type="password" formControlName="confirmPassword" matInput placeholder="confirm password" >
                        </mat-form-field>
                        <mat-error *ngIf="passwordMatchError">
                            Password does not match
                        </mat-error>

                        <mat-form-field class="mat" appearance="outline">
                            <mat-label > jmbg</mat-label>
                            <input formControlName="jmbg" matInput placeholder="username" >
                        </mat-form-field>
                        <mat-form-field class="mat" appearance="outline">
                            <mat-label > phone</mat-label>
                            <input formControlName="phone" matInput placeholder="phone" >
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel formGroupName="address" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Insert your address data
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field class="mat"  appearance="outline">
                            <mat-label >street</mat-label>
                            <input formControlName="street" matInput placeholder="street" >
                        </mat-form-field>
                        <mat-form-field class="mat"  appearance="outline">
                            <mat-label >city</mat-label>
                            <input formControlName="city" matInput placeholder="city" >
                        </mat-form-field>
                        <mat-form-field class="mat"  appearance="outline">
                            <mat-label >country</mat-label>
                            <input formControlName="country" matInput placeholder="country" >
                        </mat-form-field>
                        <mat-form-field class="mat"  appearance="outline">
                            <mat-label >street number</mat-label>
                            <input formControlName="streetNumber" matInput placeholder="street number" >
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button  color="primary" (click)="onSignUp()">Register</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form (ngSubmit)="onSignIn()" [formGroup]="loginForm">
                <div class="title-container">
                    <h1>Sign in</h1>
                    <span>or use your account</span>
                </div>
                <input class="inputa" type="text" placeholder="Username" formControlName="username" name="userId"/>
                <input class="inputa" type="password" placeholder="Password" formControlName="password" />
                <a href="#">Forgot your password?</a>
                <button class="button" (click)="onSignIn()">Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost button" id="signIn" (click)="activatePanel()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost button" id="signUp" (click)="activatePanel()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

