*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background: #394046;
}
.toggle{
  font-size: 	25px;
}
.navigation{
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 5rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #3b4d79;
  background: #3b4d79;
  transition:  width 0.5s;
  overflow-x: hidden;

}

.navigation ul li b:nth-child(1)
{
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  /*background: #394046;*/
  display: none;
  background: #fff;
}
.navigation ul li b:nth-child(1):before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #3b4d79;
}

.navigation ul li b:nth-child(2)
{
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  /*background: #394046;*/
  background:#fff;
  display: none;

}
.navigation ul li b:nth-child(2):before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #3b4d79;
}
.navigation ul li.active b:nth-child(2),
.navigation ul li.active b:nth-child(1){
  display: block;
}

.navigation .logo-container{

  display: flex;
  align-items: center;
  padding:1.338rem 1.938rem 0 0.938rem ;
  width: 100%;


}

.items{
  margin-top: 40px;
}

.navigation .logo-container .logo{
  background: #fff;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius:30px ;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;

}
.pointer{
  cursor: pointer;
}

.navigation .logo-container .logo-text{
  margin-left: 2.2rem;
  font-size: 24px;
  font-weight: 700;
  color: #fff;

}

.navigation.active{
  width: 18.5625rem;;
}


.navigation ul
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li
{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.navigation ul li a
{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.navigation ul li a .icon
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 10px;
}

.navigation ul li a .icon ion-icon{
  font-size: 1.5em;

}

.navigation ul li a .title
{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
  margin-top: 5px;
  margin-left: 5px;
}

.navigation ul li.active
{
  /*background: #394046;*/
  background:#fff
}

.navigation ul li.active a{
  /*color: #fff;*/
  color: #333333;
}

/*.toggle{*/
/*  position: fixed;*/
/*  top: 20px;*/
/*  right: 50px;*/
/*  width: 50px;*/
/*  height: 20px;*/
/*  background: #6b7dbe;*/
/*  cursor: pointer;*/
/*  border-radius: 10px;*/

/*}*/
