.input-create-center {
  margin-top: 5px;
  width: 56%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
}
.input-appointment{
  margin-top: 20px;
  width: 56%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
}
.align-me{
  margin-top: 20px;
}
